<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>
<body style="padding-top: 70px;">
  <%- include('../partials/navigation.ejs'); %>
  <main class="jumbotron">
    <div class="video-wrap">
      <video poster="" playsinline autoplay muted loop>
          <source src="https://www.origincodeacademy.com/wp-content/uploads/2017/09/typing-of-codes-2833-1.mp4" type="video/mp4">
      </video>
    </div>
    <div class="content container">
      <form role="form" action="/submitPasswordReset" method="post">
        <h2>Enter a new password</h2>
        <% if ( !!locals.messages.error ) { %>
          <h4>Message: <%= locals.messages.error[0] %> </h4>
        <% } %>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" class="form-control" />
        </div>
        <div class="form-group">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" name="passwordConfirm" placeholder="Confirm Password" class="form-control" />
        </div>
        <input type="hidden" name="userId" value="<%= accessToken.userId %>"/>
        <div class="flex-between">
          <button type="submit" class="btn">Submit</button>
        </div>
      </form>
    </div>
  </main>
  <%- include('../partials/footer.ejs'); %>
</body>
</html>
